*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.trend {
    display: flex;
    justify-content: space-between;
}

.tags {
    display: flex;
    gap: 10px;
}


.cards-top {
    display: flex;
    gap: 10px;
}

.cards-bottom {
    display: flex;
    gap: 10px;
    margin: 20px 0 32px 0;
}

.rltv {
    position: relative;
}

.icn-heart {
    position: absolute;
    top: 20px;
    right: 20px;
}
